body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000;
    color: #fff;
    margin: 0;
}

#grid {
    display: grid;
    grid-template-columns: repeat(10, 30px); /* 10 colonnes */
    grid-template-rows: repeat(20, 30px);  /* 20 lignes */
    gap: 1.5px;                              /* Espace entre les cellules */
    margin: 20px auto;
    background-color: #222;
    width: 315px;                          /* Largeur ajustée : 300px + 2px de bordure */
    border: 2px solid #bb2424;                /* Bordure blanche */
}

#grid div {
    display: flex;                         /* Active le système de mise en page flexible */
    justify-content: center;               /* Centre horizontalement le contenu */
    align-items: center;                   /* Centre verticalement le contenu */
    width: 30px;                           /* Largeur des cellules */
    height: 30px;                          /* Hauteur des cellules */
    background-color: #333;        
    font-size: 30px;          /* Couleur de fond des cellules */
}
.bottom-line {
    background-color: #ff0000 !important; /* Rouge vif */
    border-top: 3px solid yellow !important;/* Bordure jaune */
}
